.card-body {
    flex-direction: column;
}

.cardlist-img {
    max-width: 264px;
    margin-bottom: 1em;
}

.card-content {
    width: 100%;
    margin-left: 1em;
}

.btn {
    margin: 1em;
}

@media (min-width: 992px) {
    .card-body {
        flex-direction: row;
    }
}
