.card {
    background: #035482 !important;
    border-radius: 1em !important;
}

.card-body {
    flex-direction: column;
}

.cardlist-img {
    max-width: 264px;
}

.card-content {
    width: 100%;
}

.list-group li {
    background: #035482 !important;
    color: var(--light-color) !important;
}

@media (min-width: 992px) {
    .card-body {
        flex-direction: row;
    }
}
