.login-container {
    width: 100%;
    min-height: 70vh;
}

.login-container form {
    width: 320px;
    height: 50%;
}

.form-floating label {
    color: black;
}

@media (min-width: 992px) {
    .login-container form {
        width: 360px;
    }
}
