.btn {
    background-color: var(--primary-color);
}

@media (min-width: 800px) {
    .searchbar-container {
        justify-content: center;
    }

    .searchbar-container .input-group {
        width: 70%;
    }
}
